In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [2]:
df = pd.read_csv('heart_cleveland.csv')
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,condition
0,69,1,0,160,234,1,2,131,0,0.1,1,1,0,0
1,69,0,0,140,239,0,0,151,0,1.8,0,2,0,0
2,66,0,0,150,226,0,0,114,0,2.6,2,0,0,0
3,65,1,0,138,282,1,2,174,0,1.4,1,1,0,1
4,64,1,0,110,211,0,2,144,1,1.8,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,40,1,3,152,223,0,0,181,0,0.0,0,0,2,1
293,39,1,3,118,219,0,0,140,0,1.2,1,0,2,1
294,35,1,3,120,198,0,0,130,1,1.6,1,0,2,1
295,35,0,3,138,183,0,0,182,0,1.4,0,0,0,0
296,35,1,3,126,282,0,2,156,1,0.0,0,0,2,1

In [7]:
X = df.iloc[:,0:13]
y = df.iloc[:,-1]

X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,69,1,0,160,234,1,2,131,0,0.1,1,1,0
1,69,0,0,140,239,0,0,151,0,1.8,0,2,0
2,66,0,0,150,226,0,0,114,0,2.6,2,0,0
3,65,1,0,138,282,1,2,174,0,1.4,1,1,0
4,64,1,0,110,211,0,2,144,1,1.8,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,40,1,3,152,223,0,0,181,0,0.0,0,0,2
293,39,1,3,118,219,0,0,140,0,1.2,1,0,2
294,35,1,3,120,198,0,0,130,1,1.6,1,0,2
295,35,0,3,138,183,0,0,182,0,1.4,0,0,0
296,35,1,3,126,282,0,2,156,1,0.0,0,0,2

In [8]:
y

0      0
1      0
2      0
3      1
4      0
      ..
292    1
293    1
294    1
295    0
296    1
Name: condition, Length: 297, dtype: int64

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3, random_state=10)

X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
75,69,1,2,140,254,0,2,146,0,2.0,1,3,2
207,59,1,3,135,234,0,0,161,0,0.5,1,0,2
287,42,0,3,102,265,0,2,122,0,0.6,1,0,0
223,57,1,3,140,192,0,0,148,0,0.4,1,0,1
20,40,1,0,140,199,0,0,178,1,1.4,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,71,0,3,112,149,0,0,125,0,1.6,1,0,0
123,51,1,2,94,227,0,0,154,1,0.0,0,1,2
15,52,1,0,118,186,0,2,190,0,0.0,1,0,1
125,50,0,2,120,219,0,0,158,0,1.6,1,0,0
265,50,0,3,110,254,0,2,159,0,0.0,0,0,0

In [10]:
# Decision Tree
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier()
model.fit(X_train, y_train)

hasil_prediksi = model.predict(X_test)

from sklearn.metrics import accuracy_score

print(accuracy_score(hasil_prediksi, y_test))

0.7333333333333333

In [11]:
# Naive Bayes
from sklearn.naive_bayes import GaussianNB

model1 = GaussianNB()
model1.fit(X_train, y_train)

hasil_prediksi1 = model1.predict(X_test)
print(accuracy_score(hasil_prediksi1, y_test))

0.8777777777777778

In [12]:
# SVM
from sklearn.svm import SVC

model2 = SVC()
model2.fit(X_train, y_train)

hasil_prediksi2 = model2.predict(X_test)
print(accuracy_score(hasil_prediksi2, y_test))

0.6444444444444445

In [13]:
import pickle
pickle.dump(model1, open('model.pkl', 'wb'))